@tailwind base;
@tailwind components;
@tailwind utilities;

.react-draggable-dragging {
  z-index: 1000;
}

.react-draggable-dragging {
  background-color: lightgray;
}

@layer components {
  .spinner-border {
    border-color: transparent;
    border-top-color: #3490dc;
  }
}